#startButton {
    display: block;
    padding: 5px 10px 5px 10px;
    width: 100px;
    background-color: #212529;
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer; 
}

#gameModule {
    font-size: 100px;
    font-style: bold;
    opacity: 0.8;
    
}

#usedLetters {
    font-size: 20px;
    font-style: italic;
    opacity: 0;
}

#guessCount {
    font-size: 20px;
    font-style: italic;
    opacity: 0;
}

#guessedWord{

}

#wholeWord {
    position: absolute;
}

#letter0, #letter1, #letter2, #letter3, #letter4, #letter5, #letter6 {
    float: left; 
    color: red;
    margin-right: 17px;
}


.navbar-nav {
    margin: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: #444;
}

.footer {
    background-color: #343a40;
    height: 60px;
    width: 100%;
}

.col {

}

.col{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
}

.footer {
    text-align: center;
    
}   

.color {
    color: green;
    font-size: 20px;
    margin-top: 500px;
}
